@model mvc_hotdog.Models.Profile

@{
    ViewBag.Title = "User Profile";
}
<div class="row">
    <div class="col col-md-12">
        <h2 class="pull-left">User Profile</h2>
        <h4 class="pull-right">@Html.ActionLink("Edit Profile", "Edit", new { user = Model.Username })</h4>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <img src="@Model.ImageURL" class="img-responsive" />
        <ul>
            <li>Favorite Dog: @Html.DisplayFor(model => model.FavDog)</li>
            <li>Rating: @Html.DisplayFor(model => model.Rating)</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <hr />
        <div class="profile-bio">
            <p>@Html.DisplayFor(model => model.ProfileBio)</p>
        </div>

        <div class="past-dogs">
            <h4>My Last Hot Dogs</h4>
            <ul>
                 @foreach (var item in (Model.PastDogs))
                    {
                        <li>@Html.DisplayFor(model => item) </li>
                    }
            </ul>
        </div>
    </div>

    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  user = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
