@model mvc_hotdog.Models.Profile

@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

<div class="row">

    <div class="col-md-3">
        <img src="@Model.ImageURL" class="img-responsive" />
    </div>
    <div class="col-md-9">
        <h3>@Html.DisplayFor(model => model.Name)</h3>
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileBio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavDog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavDog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  user = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
